@media (max-width: 600px) {
  .eliminar-btn {
    white-space: normal;
    text-align: center;
    display: block;
    line-height: 1.2;
  }
}

#list-actividades {
  max-height: 500px; /* Ajusta el tamaño del contenedor */
  overflow-y: auto; /* Habilita el scroll vertical */
}
